.swiper {
  width: 100%;
  height: 100%;
  @apply min-h-[24rem] min-w-[80vw] md:min-h-full md:min-w-full;
}
.swiper-slide > div {
  @apply min-h-[24rem] min-w-[80vw] md:min-h-full md:min-w-full;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  @apply min-h-[24rem] min-w-[80vw] md:min-h-full md:min-w-full;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply min-h-[24rem] min-w-[80vw] md:min-h-full md:min-w-full;
}

.dot-pagination.swiper-pagination-bullet {
  width: 0.75rem !important;
  height: 0.75rem !important;
  text-align: center;
  line-height: 0.75rem;
  font-size: 0.75rem;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.dot-pagination.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#fff];
}

.custom-pagination .custom-swiper-pagination-bullet {
  @apply mx-3 min-w-max rounded-full bg-[#25303E] px-10  py-3 lg:min-w-[147px];

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.custom-pagination
  .custom-swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-[#1C3556];
}

/*#1C3556*/
.custom-pagination .custom-swiper-pagination-bullet .pagination-text {
  @apply font-['Poppins'] text-2xl font-medium not-italic leading-9   text-white;
}
