.banner_img_layer {
  @apply absolute;
}

.banner_text_layer {
  @apply flex min-h-[94vh] w-screen flex-col items-center justify-evenly  bg-[url('/images/rectangle-1.jpg')] bg-cover bg-no-repeat text-center;
}

.banner_title {
  @apply font-['Brygada_1918'] font-semibold italic text-white xl:mb-2 xl:text-[5.5rem] xl:leading-[6.438rem];
}

.banner_text {
  @apply font-['Poppins'] text-sm font-medium not-italic text-white xl:text-[1.5rem]  xl:leading-[2.25rem];
}

.banner_whatsapp_btn,
.banner_left_btn {
  @apply w-[90vw] justify-center py-2 text-center md:w-auto md:px-12 xl:mt-6 xl:px-16 xl:py-3;
}
.banner_whatsapp_btn {
  @apply bg-[#62C96E];
}
.banner_left_btn {
  @apply bg-[#C8A55A];
}
.footer_text {
  @apply font-['Poppins'] font-normal not-italic leading-6 text-white;
}

.h2_1 {
  @apply mb-12 font-['Brygada_1918'] text-6xl font-semibold italic text-[#1C3556];
}
.golden_text {
  @apply mb-2 font-['Brygada_1918'] text-3xl font-semibold italic leading-9 text-[#C8A55A];
}
.card {
  @apply box-border rounded-xl border-2 border-[#C8A55A] bg-white px-10  py-5 text-left;
}
/*.card:not(:last-child) {
    @apply mb-3;
}*/
.card_text {
  @apply mt-2 font-['Poppins'] text-base font-normal not-italic leading-6 text-[#1C3556];
}

.project_card {
  @apply container flex min-h-max flex-col justify-center rounded-xl bg-[#25303E] md:flex-row;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
