.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 8px 16px;
    border-radius: 100%;
    border: 2px solid black;
    color: red;
}

.swiper-button-prev {
    background-image: url("/svg/vector-arrow-circle-left.svg") !important;
}

.swiper-button-next {
    background-image: url("/svg/vector-arrow-circle-right.svg");
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    background-color: red;
}